<div class="outer-container">

	<div class="inner-container">
	
		{{#each user}}
	
			<div class="myHeader">
				<table>
					<tr>
						<th><a href="/{{this.UserID}}">Edit Profile</a></th>
						<th><a href="/messages/{{this.UserID}}">View Messages</a></th>
						<th><a href="/browse/{{this.UserID}}">View Matches</a></th>
					</tr>
				</table>	
			</div>
			<div align="center">
				<img id="AvatarImg" src="img/{{this.Avatar}}.png">					
				<div id="ProfileName"><h2 id="myName">{{this.FirstName}}</h2></div>
			</div>
			<h2>You care about...</h2>
			
			<hr>
		
		{{/each}}
		
		{{#each MultSelect}}	
		
		<div class="ParentDiv">
		
			<div class="ChildDiv">
			
				<img src="img/Check.png">
			
			</div>
			
			<div class="ChildDiv">
			
				<h2>{{this.QuestText}}</h2>
				
			</div>
			
		</div>
		
		{{/each}}
		
		{{#each LongAnswer}}
		
			<h3>{{this.QuestText}}</h3>
			
			<div class="AnsText">
			
				{{this.QuestAnswer}}
			
			</div>
		
		{{/each}}
		
	</div>
	
</div>