<div class="outer-container">

	<div class="inner-container">
	
		{{#each user}}
	
			<div align="center">
			
				<img id="AvatarImg" src="/img/{{this.Avatar}}.png">
					
				<div id="ProfileName"><h2 id="myName">{{this.FirstName}}</h2></div>
			
			</div>
			
			<h2>They care about...</h2>
			
			<hr>
		
		{{/each}}
		
		{{#each MultSelect}}	
		
		<div class="ParentDiv">
		
			<div class="ChildDiv">
			
				<img src="/img/Check.png">
			
			</div>
			
			<div class="ChildDiv">
			
				<h2>{{this.QuestText}}</h2>
				
			</div>
			
		</div>
		
		{{/each}}
		
		{{#each LongAnswer}}
		
			<div id="QuestionBox"><h3 class="question">{{this.QuestText}}</h3></div>
			
			<div class="AnsText">
			
				{{this.QuestAnswer}}
			
			</div>
		{{else}}
		{{#each user}}
			<div id="NoQuestion">{{this.FirstName}} hasn't answered any questions yet!</div>
		{{/each}}
		{{/each}}
		
	</div>
	
</div>
